@using Datos.Enums

<div id="alert" style="width: 100%;">
    @if (TempData[Enumerados.TempData.Error.ToString()] != null)
    {
        <div class="text-center alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-warning"></i>  @TempData[Enumerados.TempData.Error.ToString()]
        </div>
    }
    else if (TempData[Enumerados.TempData.Mensaje.ToString()] != null)
    {
        <div class="text-center alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-check"></i>  @TempData[Enumerados.TempData.Mensaje.ToString()]
        </div>
    }
</div>
<script>
    window.setTimeout(function () {
        $(".alert").fadeIn();
        //$(".alert").fadeTo(500, 0).slideUp(500, function () {
        //    $(this).remove();
        //});
    }, 2500);
</script>