<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Negocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Negocio.Properties.Settings>
      <setting name="Negocio_WsPagoRegistroCivil_Productivo_SI_PagoRegistroCivil_outService"
        serializeAs="String">
        <value>http://gespipci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PagoRegistroCivil_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPagoRegistroCivil</value>
      </setting>
      <setting name="Negocio_WsValidarPago_Productivo_SI_ConsultaRo_outService"
        serializeAs="String">
        <value>http://gespipci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea</value>
      </setting>
      <setting name="Negocio_WsPaseCaja_Productivo_SI_PaseCaja_outService"
        serializeAs="String">
        <value>http://gespipci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PaseCaja_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPaseAcaja</value>
      </setting>
      <setting name="Negocio_WsPaseCaja_Desarrollo_SI_PaseCaja_outService"
        serializeAs="String">
        <value>http://10.32.1.103:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PaseCaja_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPaseAcaja</value>
      </setting>
      <setting name="Negocio_WsPagoRegistroCivil_Desarrollo_SI_PagoRegistroCivil_outService"
        serializeAs="String">
        <value>http://10.32.1.103:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PagoRegistroCivil_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPagoRegistroCivil</value>
      </setting>
      <setting name="Negocio_WsValidarPago_Calidad_SI_ConsultaRo_outService"
        serializeAs="String">
        <value>http://gespiqci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_QA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea</value>
      </setting>
      <setting name="Negocio_WsPaseCaja_Calidad_SI_PaseCaja_outService"
        serializeAs="String">
        <value>http://gespiqci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_QA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PaseCaja_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPaseAcaja</value>
      </setting>
      <setting name="Negocio_WsPagoRegistroCivil_Calidad_SI_PagoRegistroCivil_outService"
        serializeAs="String">
        <value>http://10.32.1.123:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_QA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PagoRegistroCivil_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FPORTAL%2FWS%2FPagoRegistroCivil</value>
      </setting>
      <setting name="Negocio_WebReferenceFirma_WebService" serializeAs="String">
        <value>http://sfirmapruebas.sonora.gob.mx/WSPSFIEL/webservice.asmx</value>
      </setting>
      <setting name="Negocio_mx_gob_sonora_claro_gespipci_SI_ConsultaRo_outService"
        serializeAs="String">
        <value>http://gespipci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea</value>
      </setting>
      <setting name="Negocio_constancia_nuevo_validador_prod_SI_ConsultaRo_outService"
        serializeAs="String">
        <value>http://gespipci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_PRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea</value>
      </setting>
    </Negocio.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ConsultaRo_outBinding" />
        <binding name="SI_ConsultaRo_outBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gespiqci.claro.sonora.gob.mx:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_QA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea"
        binding="basicHttpBinding" bindingConfiguration="SI_ConsultaRo_outBinding"
        contract="ConsultaPaseCajaQA.SI_ConsultaRo_out" name="HTTP_Port" />
      <endpoint address="https://gespiqci.claro.sonora.gob.mx:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SIGAF_WS_QA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRo_out&amp;interfaceNamespace=http%3A%2F%2Fgeson.gob.mx%2FTRM%2FPORTAL%2FPagoEnLinea"
        binding="basicHttpBinding" bindingConfiguration="SI_ConsultaRo_outBinding1"
        contract="ConsultaPaseCajaQA.SI_ConsultaRo_out" name="HTTPS_Port" />
    </client>
  </system.serviceModel>
</configuration>